*{
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", serif;
  line-height: auto;
  
}

body {
  background-color: #F5F4F0;
  
}

#page {
  width: 1120px;
  height: 3054px;
  padding: 40px;
  box-sizing: border-box;
  margin: 88px auto 80px;


}
h1{
  font-size: 36px;
  margin-top: 8px;
}

h2{
  font-size: 32px;
  margin-bottom: 8px;
}

.descriptiontitle{
  margin-bottom: 16px;
}

h3{
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 20px;
  
}

ul {
  list-style-type: disc;
  font-size: 16px;
  color:#333333;
  margin-top: 3px;
  margin-left: 19px;
}

p{
  font-size: 16px;
  color:#333333;
  font-weight: regular;
}

.legenda{
  font-size: 16px;
  color:#333333;
  font-weight: normal;
}

.headline{
  color: #E1624F;
  font-weight: bold;
  text-transform: uppercase;
}

.description{
  font-style: italic;
  margin-top: 24px;
  margin-bottom: 40px;
  text-align: center;
}

#contentlist{
  margin-top: 64px;
}
.textsec{
  font-weight: bold;

}

.blue{
  color: #0C51A7;
  font-weight: bold;
}

.purple{
  color: #591B98;
  font-weight: bold;
}
.pink{
  color: #E5245E;
  font-weight: bold;
}
.orange{
  color: #E95E10;
  font-weight: bold;
}

img{
  width: 100%;
  margin-top: 48px;
  background-image: contain;
}

.conclusao {
  margin-top: 80px;
  text-align: center;
}

